header{
    .fotoPortadaScorpion{                
        background-image: url(../img/fotoCursoAnimal.jpg);
        height: 450px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        margin: 0px;
        .header1{
            display: flex;
            justify-content: space-between;
            height: 50%;
            .redesSociales{
                display: flex;
                flex-direction: column;
                align-items: center;  
                position: fixed;
                top: 0;
                right: 0; 
                .iconoInstagram{
                    width: 30px; 
                    border-radius: 50%;   
                    margin: 5px;       
                }
                .iconoFacebook{
                    width: 30px;
                    border-radius: 50%;
                    margin: 5px;
                }
                .iconoTwiter{
                    width: 30px;
                    border-radius: 50%;
                    margin: 5px;
                }
                .iconoWhatsapp{
                    width: 30px;
                    border-radius: 50%;
                    margin: 5px;
                }  
            }        
        }
        .header2{
            display: flex;
            flex-direction: column;   
            height: 50%;
            text-align: center;
            justify-content: flex-end;
            .divSlogan{
                h2{
                    font-size: 3rem;   
                    color: white;  
                    font-weight: bold;  
                }
            }    
        }                                   
    }
}    
main{ 
    .cajaCurso{
        display: flex;  
        flex-direction: column;
        .cajaTablaCursos{
            .tablaFechasCursos{
                margin: 20px auto;
                width: 90%;
            }
        }         
        .reservarCurso{
            .divCalltoaction{
                display: flex;
                justify-content: center;
                border-radius: 5px;
                align-items: flex-end;
                flex-direction: row;
                text-decoration: none;
                .calltoaction{
                    @include boton ($color-boton)
                }         
            }     
        }
        .carousel{
            width: 400px;
            margin: 20px  auto;
            padding: 0px;  
        }
    }    
}      